[submodule "daq/include/picojson"]
	path = daq/include/picojson
	url = https://github.com/kazuho/picojson
[submodule "lib/Adafruit_Python_SSD1306"]
	path = lib/Adafruit_Python_SSD1306
	url = https://github.com/adafruit/Adafruit_Python_SSD1306
[submodule "daq/external/cppzmq"]
	path = daq/external/cppzmq
	url = https://github.com/zeromq/cppzmq
[submodule "daq/external/serial"]
	path = daq/external/serial
	url = https://github.com/wjwwood/serial.git
[submodule "daq/external/libzmq"]
	path = daq/external/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "daq/external/yaml-cpp"]
	path = daq/external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "daq/external/spdlog"]
	path = daq/external/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.8.2
